@import '@fontsource/fira-mono';

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
	min-height: 100vh;
	margin: 0;
	background-color: #22181C;
	background-image: url("$lib/images/desktop_background.png");
	background-size: cover;
	background-repeat: no-repeat;
}

